<h2>Edit your profile here!</h2>
<div>
  <%= form_for @user do |f| %>
    <div>
      <%= f.label :username %>
      <%= f.text_field :username %>
    </div>
    <div>
      <%= f.label :first_name %>
      <%= f.text_field :first_name %>
    </div>
    <div>
      <%= f.label :last_name %>
      <%= f.text_field :last_name %>
    </div>
    <br>
    <div>
      <%= f.submit "Submit" %>
    </div>
  <% end %>
</div>
