<h2><%= @post.title %></h2>

<div><%= @post.body %></div>

<div>Author: <%= @user.username %></div>

<div><%= my_date(@post.created_at) %></div>

<% if session[:user_id] == @post.user_id %>
  <br>
  <%= button_to 'Edit this post', edit_post_path(@post), method: :get, class: 'btn' %>
  <br>
  <%= button_to 'Delete this post', post_path(@post), method: :delete, class: 'btn' %>
  <br>
<% end %>

<br>
<%= button_to 'comment', new_post_comment_path(@post), method: :get, class: 'btn' %>
<br>
<h3>Comments</h3>
<div class='comments'>
  <% @comments.each do |comment| %>
    <div class ='comment-body'><%= comment.body %></div>
    <div>posted: <%= elapsed_time(comment.created_at) %></div>
    <br>
  <% end %>
</div>

